<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="POST" lpformnum="1" _lpchecked="1">

  <div class="form-group md-form mb-5">
    <i class="fa fa-user prefix"></i>
    <input mdbInputDirective data-error="wrong" data-success="valid" minLength="8" maxLength="25"
           type="text" class="form-control" id="username" name="username" formControlName="username">
    <label for="username">Type your username</label>
  </div>

  <div class="form-group md-form">
    <i class="fa fa-lock prefix"></i>
    <input mdbInputDirective data-error="wrong password" data-success="valid password" minLength="8" maxLength="25"
           type="password" class="form-control" id="form10" name="password" formControlName="password">
    <label for="form10">Type your password</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox1">
    <label class="form-check-label" for="checkbox1">Classic checkbox</label>
  </div>

  <div class="form-group no-margin">
    <button type="submit" class="btn btn-block waves-light" mdbWavesEffect>Login</button>
  </div>
  <div class="form-group no-margin d-none">
    <button type="button" (click)="socialSignIn('facebook')" class="btn btn-primary btn-block btn-facebook">
      <fa name="facebook-f" size="2x"></fa>
      Sign in with Facebook
    </button>
  </div>
  <div class="margin-top20 text-center d-none">
    Don't have an account? <a href="register.html">Create One</a>
  </div>
</form>
