<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100 flex-column">
      <div class="card-wrapper">
        <div class="brand d-flex align-items-center">
          <img src="assets/images/aws-cognito.png">
        </div>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title text-center">MFA User Login Demo</h4>
            <router-outlet></router-outlet>

          </div>
        </div>
        <div class="footer">
          Copyright © 2017
        </div>
      </div>
    </div>
  </div>
</section>
